{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="form-group">
            <input id="gebr_naam" autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" onkeyup="do_check();">
            <p id="beschikbaar" class="melding"></p>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Password again please" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>

    <!--- notifies user whether username is available or not--->
    <script>
        function do_check() {
            var username = document.getElementById("gebr_naam").value;
            var label = document.getElementById("beschikbaar");
            $.get("/check?username=" + username, function (data) {
                if (data == true) {
                    label.innerHTML = "Username is available";
                } else {
                    label.innerHTML = "Username is taken";
                    event.preventDefault();
                }
            })
        }
    </script>
    {% endblock %}